*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --zwart: black;
  --wit: white;
  --font-weight: bolder;
  --font-family: 'M PLUS 1 Code', sans-serif;
  --font-family-footer: 'Lato', Arial, Helvetica, sans-serif;
  --background-color: rgba(0,0,0,.9);
  --background-color-footer:#161616;
  --background-color-pagina2:rgb(22, 22, 22);
  --background-color-nav-hover: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(9,72,121,1) 34%, rgba(0,135,255,1) 73%);
}


/*<-----------ACHTERGROND----------->*/
body{
  background-image: url(../images/tv4.png);
}

/*<-----------HEADER----------->*/
header{
  display: flex;
  align-items: center;
  position: sticky;
  justify-content:space-between;
  width: 100%;
  padding: 1em;
  top: 0;
  list-style: none;
  z-index: 2;
}

header img:first-of-type{
  width: 3em;
}


header img:nth-of-type(2){
  width: 2em;
  z-index: 2;
}

/*<-----------HEADER NAV---------->*/
nav button{
  padding: 0;
  background-color: initial;
  border: none;
  z-index: 2;
}

nav button img{
  margin: .5em;
  pointer-events: none;
  z-index: 2;
}

nav button:hover, nav button:focus{
  background-color: var(--background-color);
  outline: none;
  z-index: 2;
  border-radius: 0.5em;
}

nav ul{
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 0em;
  padding: 1em 0 0;
  list-style: none;
  position: fixed;
  background-color: var(--background-color);
  transform: translateX(-200%);
  transition: 0.1s;
  z-index: 2;
}

nav.toonMenu ul{
  transform: translateX(0);
  z-index: 2;
}

nav form{
  display: flex;
  margin-left: 2em;
  transform: translateX(-100%);
  transition: 0.1s;
  position: fixed;
  z-index: 2;
}

nav li{
  display:flex;
  justify-content:space-between;
  padding: 1em;
  width: 100%;
  list-style: none;
  align-items: center;
  color: var(--wit);
  font-family: var(--font-family);
  transition: 350ms ease;
  z-index: 2;
}

nav li:hover{
  background: rgb(2,0,36);
  background: var(--background-color-nav-hover);
}

nav a{
  display: flex;
  align-items: center;
  color: var(--wit);
  gap: .25em;
  padding: .25em 1em;
  background-color: var(--background-color-nav-hover);
  z-index: 2;
}

nav a:focus{
  outline: none;
  background: var(--background-color-nav-hover);
  border: 2px solid var(--wit);
  z-index: 2;
}

nav a:active{
  color: var(--hoverkleur);
  z-index: 2;
}

/*<-----------TITEL----------->*/
h1{
  font-size: 3em;
  font-weight: var(--font-weight);
  margin-top: 0.4em;
  margin-bottom: 1.2em;
  margin-left: 0.4em;
  color: var(--wit);
  font-family: var(--font-family);
}

/*<-----------MAIN SECTION----------->*/
section article{
  justify-content: center;
  width: 90%;
  margin:auto;
  margin-bottom: 1.25em;
  font-size: 1.5em;
  font-weight: var(--font-weight);
  border-style: solid;
  border-width: 2px;
  border-color: var(--wit);
  font-family: var(--font-family);
  background-color:var(--background-color);
}

main section img{
  width: 100%;
}

section p{
  color: var(--wit);
  font-size: 0.5em;
  padding-left: 1.3em;
  padding-bottom: 1.5em;
}

section h3{
  color: var(--wit);
  padding-left: 0.6em;
}

/*<-----------FOOTER----------->*/
footer{
  background-color: var(--background-color-footer);
  color: var(--wit);
}

footer li{
  list-style-type: none;
  font-family: var(--font-family);
}

footer li a{
  color: var(--wit);
}

footer details{
  font-family: var(--font-family-footer);
  border-bottom: 1px solid gray;
}

footer details summary{
  text-transform: uppercase;
  padding: 1em;
}

footer details summary:hover{
  color: var(--wit);
}

footer section{
  background-color: var(--background-color-footer);
  padding: 2em;
}

footer section:first-of-type img{
  max-width: 2.5em;
  height: auto;
}

footer section:nth-of-type(3){
  display: flex;
  flex-direction: row; 
  align-items: center;
  font-size: 1.5em;
}

footer section:nth-of-type(2) img{
  max-width: 2em;
  height: 1em;
  align-self: center;
}




/*<-----------PAGINA 2----------->*/
.paginatwee{
  background: var(--zwart);
}

.headertwee{
  position: static;
  background: var(--wit);
}

.paginatwee section article{
  justify-content: center;
  width: 100%;
  margin:auto;
  margin-bottom: 1.25em;
  font-size: 1.5em;
  font-weight: var(--font-weight);
  border-style: solid;
  border-width: 2px;
  font-family: var(--font-family-text);
  background-color :var(--background-color-pagina2)
}
.paginatwee main {
  display: flex;
  overflow-x: hidden;
  flex-wrap: wrap;
  background-color: var(--background-color);
}

.paginatwee main section ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.paginatwee main section ul li{
  width: calc(50% - 0.3em);
  position: relative;
  flex-grow: 1;
  margin-bottom: 0.3em;
  list-style: none;
  display: list-item;
}

.paginatwee main section ul li a {
  text-decoration: none;
}

.paginatwee main section ul li article h2 {
  font-family: var(--font-family-text);
  color: var(--wit);
  font-size: medium;
  font-weight: var(--font-weight);
  margin-left: 0em;
  text-align: left;
}

.paginatwee main section img{
  width: 100%;
}

.paginatwee section article{
  background-color: var(--zwart);
  border:none;
  text-align: center;
  border-bottom: 1px solid;
  color: white;
}

.paginatwee section p {
  text-align: left;
  color: var(--wit);
  font-size: 0.5em;
  padding-left: 0%;
  padding-bottom: 1.5em;
}