*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*<-----------ACHTERGROND----------->*/
body{
  background-image: url(../images/R1-09750-0035.JPG);
}

/*<-----------HEADER----------->*/
ul{
  display:flex;
  justify-content:space-between;
  padding: 1em;
  position: sticky;
  width: 100%;
  list-style: none;
}
/*<-----------HEADER IMG----------->*/
nav ul li:first-of-type img{
  width: 3em;
}

nav ul li:last-of-type img{
  width: 0.7em;
}

/*<-----------HEADERMENU----------->*/
.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 1em;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger{
  width: 3.125em;
  height: 0.375em;
  background: black;
  border-radius: 5px;
  box-shadow: white;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
  content: '';
  position: absolute;
  width: 3em;
  height: 0.375em;
  background: black;
  border-radius: 5px;
  box-shadow: white;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before{
  transform: translateY(-16px);
}
.menu-btn__burger::after{
  transform: translateY(16px);
}

/*<-----------HEADER MENU ANIMATIE----------->*/

/*<-----------TITEL----------->*/
h1{
  font-size: 3em;
  font-weight: bolder;
  margin-top: 0.4em;
  margin-bottom: 1.2em;
  margin-left: 0.4em;
  color: white;
  font-family: 'M PLUS 1 Code', sans-serif;
}

/*<-----------MAIN SECTION----------->*/
section article{
  justify-content: center;
  width: 90%;
  margin:auto;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bolder;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color:rgb(22, 22, 22);
}

section img{
  width: 100%;
}

section p{
  color: white;
  font-size: 0.5em;
  padding: 0.5em;
}

section h3{
  color: white;
  padding: 0.2em;
}